@{
    ViewData["Title"] = "GuestPage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="~/css/Header.css" asp-append-version="true" />
</head>
<body>
    <div class="swiper">
        <div class="swiper-wrapper">
            <div class="swiper-slide swiper-slide--one">
                <h2>A Class</h2>
                <a>explore</a>
            </div>
            <div class="swiper-slide swiper-slide--two">
                <h2>B Class</h2>
                <a>explore</a>
            </div>
            <div class="swiper-slide swiper-slide--two">
                <h2>C Class</h2>
                <a>explore</a>
            </div>
            <div class="swiper-slide swiper-slide--two">
                <h2>D Class</h2>
                <a>explore</a>
            </div>
            <div class="swiper-slide swiper-slide--two">
                <h2>E Class</h2>
                <a>explore</a>
            </div>
        </div>
        <div class="swiper-pagination"></div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script>
        var swiper = new Swiper(".swiper", {
            effect: "coverflow",
            grabCursor: true,
            centeredSlides: true,
            slidesPerView: 2.75,
            speed: 600,
            coverflowEffect: {
                rotate: 10,
                stretch: 0,
                depth: 100,
                modifier: 3,
                slideShadows: true,
            },
            loop: true,
            pagination: {
                el: ".swiper-pagination",
                clickable: false,
            },
        });
        
    </script>
</body>
