@model CarRental.ViewModels.UserViewModel

@{
    ViewData["Title"] = "_loginPartial";
}

@* <!DOCTYPE html>
<html lang="en">
<head> *@
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewData["Title"] - YourAppName</title>

    <link href="~/css/New.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
@* </head>
<body> *@

    <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="wrapper">
                    <form method="post" action="/Home/Login">
                        <div id="loginError" class="alert alert-danger" style="display: none;"></div>
                        <h2>Log In</h2>
                        <div class="input-feild">
                            <input asp-for="UserName" type="text" required>
                            <label asp-for="UserName">Enter Your UserName</label>
                        </div>
                        <div class="input-feild">
                            <input asp-for="Password" type="password" required>
                            <label asp-for="Password">Enter Your Password</label>
                        </div>
                        <div class="forget">
                            <label>
                                <input type="checkbox" name="RememberMe"> Remember Me
                            </label>
                            <a href="#">Forget Password</a>
                        </div>
                        <button type="submit">Log In</button>
                        <div class="register">
                            <a href="#" id="showRegister">Don't have an account? Register</a>


                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="registerModal" tabindex="-1" aria-labelledby="registerModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content" style="background: transparent; border: none; box-shadow: none;">
                <div class="wrapper">
                    <form method="post" action="/Home/Register">
                        <div id="RegisterError" class="alert alert-danger" style="display: none;"></div>
                        <h2>Register</h2>
                        <div class="input-feild">
                            <input asp-for="Name" type="text" required>
                            <label asp-for="Name">Enter Your Name</label>
                        </div>
                        <div class="input-feild">
                            <input asp-for="EmailAddress" type="text" required>
                            <label asp-for="EmailAddress">Enter Your Email</label>
                        </div>
                        <div class="input-feild">
                            <input asp-for="UserName" type="text" required>
                            <label asp-for="UserName">Enter Your UserName</label>
                        </div>
                        <div class="input-feild">
                            <input asp-for="Password" type="password" required>
                            <label asp-for="UserName">Enter Your Password</label>
                        </div>
                        <div class="forget">
                            <label><input type="checkbox" name="RememberMe"> Remember Me</label>
                        </div>
                        <button type="submit">Register</button>
                        <div class="register">
                            <a href="#" id="backToLogin">Back to Login</a>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>

    <script>
        document.addEventListener('DOMContentLoaded', () => {
            const loginModal = document.getElementById('loginModal');
            var errorMessagelogin = '@TempData["LoginErrorMessage"]';
            var errorMessageRegister = '@TempData["RegisterErrorMessage"]';

            if (errorMessagelogin == "Open") {
                loginModal.addEventListener('show.bs.modal', event => {
                });
            }

            if (errorMessagelogin != "Open" && errorMessagelogin != null) {
                var errorlogin = document.getElementById("loginError");
                if (errorlogin) {
                    errorlogin.innerText = errorMessagelogin;
                    errorlogin.style.display = "block";
                    var loginModal = new bootstrap.Modal(document.getElementById("loginModal"));
                    loginModal.show();
                }
            }

            if (errorMessageRegister) {
                var errorRegister = document.getElementById("RegisterError");
                if (errorRegister) {
                    errorRegister.innerText = errorMessageRegister;
                    errorRegister.style.display = "block";
                }

                var registerModal = new bootstrap.Modal(document.getElementById("registerModal"));
                registerModal.show();
            }
        });


        document.getElementById("showRegister").addEventListener("click", function (e) {
            e.preventDefault();
            var loginModal = bootstrap.Modal.getInstance(document.getElementById("loginModal"));
            loginModal.hide();

            var registerModal = new bootstrap.Modal(document.getElementById("registerModal"));
            registerModal.show();
        });

        document.getElementById("backToLogin").addEventListener("click", function (e) {
            e.preventDefault();
            var registerModal = bootstrap.Modal.getInstance(document.getElementById("registerModal"));
            registerModal.hide();

            var loginModal = new bootstrap.Modal(document.getElementById("loginModal"));
            loginModal.show();
        });
    </script>
@* 
</body>
</html>
 *@