@model CarRental.ViewModels.UserViewModel

@{
    ViewData["Title"] = "Add User";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@if (TempData["ErrorMessage"] != null)
{
    <div class="alert alert-danger alert-dismissible fade show" role="alert" id="errorAlert">
        @TempData["ErrorMessage"]
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <script>
        setTimeout(function () {
            var alert = bootstrap.Alert.getOrCreateInstance(document.getElementById('errorAlert'));
            alert.close();
        }, 3000);
    </script>
}


@Html.ValidationSummary(false, "", new { @class = "text-danger" })


<h2>Add User</h2>

<form asp-action="AddUser" asp-controller="Admin" method="post">
    <div class="mb-3">
        <label asp-for="Name" class="form-label">Name</label>
        <input asp-for="Name" class="form-control" placeholder="Enter name" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="EmailAddress" class="form-label">Email</label>
        <input asp-for="EmailAddress" class="form-control" placeholder="Enter email" />
        <span asp-validation-for="EmailAddress" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="UserName" class="form-label">Username</label>
        <input asp-for="UserName" class="form-control" placeholder="Enter username" />
        <span asp-validation-for="UserName" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Password" class="form-label">Password</label>
        <input asp-for="Password" class="form-control" placeholder="Enter password" type="password" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>

    <div class="mb-3">
        <label asp-for="Role" class="form-label">Role</label>
        <select asp-for="Role" asp-items="ViewBag.RoleList" class="form-select"></select>
        <span asp-validation-for="Role" class="text-danger"></span>
    </div>

    <div class="text-end">
        <button type="submit" class="btn btn-success">Save User</button>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
