@model CarRental.ViewModels.UserViewModel
<form method="post">
    <div class="mb-3">
        <label asp-for="Name" class="form-label">Name</label>
        <input asp-for="Name" class="form-control" placeholder="Enter full name" />
    </div>

    <div class="mb-3">
        <label asp-for="EmailAddress" class="form-label">Email</label>
        <input asp-for="EmailAddress" class="form-control" placeholder="Enter email address" />
    </div>

    <div class="text-end">
        <button type="submit" class="btn btn-success">Save User</button>
    </div>
</form>
