@model CarRental.ViewModels.UnitImageViewModel
@{
    ViewData["Title"] = "Add Unit";
}
<link rel="stylesheet" href="~/css/imageForm.css" />
<h2>Add Unit</h2>

<form asp-action="AddUnit" method="post" enctype="multipart/form-data">
    <div class="form-group">
        <label>Car ID</label>
        <input asp-for="CarID" class="form-control" />
    </div>

    <div class="form-group">
        <label>Plate Number</label>
        <input asp-for="PlateNumber" class="form-control" />
    </div>

    <div class="form-group">
        <label>Upload Image</label>
        <input asp-for="ImageFile" type="file" class="form-control" />
    </div>

    <button type="submit" class="btn btn-primary">Save Unit</button>
</form>
