@model IEnumerable<CarRental.DTOs.UnitDTO>

<h2>Units</h2>

@foreach (var unit in Model)
{
    <div class="card" style="width: 18rem; margin:10px;">
        <div class="card-body">
            <h5 class="card-title">Plate: @unit.PlateNumber</h5>
            <img src="@unit.ImageBase64" width="200" />
        </div>
    </div>
}
