@model CarRental.ViewModels.BrandViewModel

<h2>Create Brand</h2>
,<br />
<form asp-action="AddBrand" asp-controller="Admin" method="post">
    <div class="mb-3">
        <label asp-for="BrandName" class="form-label"></label>
        <input asp-for="BrandName" class="form-control" />
        <span asp-validation-for="BrandName" class="text-danger"></span>
    </div>

    <div class="d-flex justify-content-between">       
        <a asp-action="ViewBrands" asp-controller="Admin" class="btn btn-secondary btn-sm">Back</a>
        <button type="submit" class="btn btn-success btn-sm">Create</button>
    </div>
</form>
