@model CarRental.ViewModels.RequestViewModel
@* 
<h2 class="mb-4">Request @Model.BrandName @Model.CarName</h2> *@

<form asp-action="AddRequest" asp-controller="Customer" method="post">
    <input asp-for="CarID" type="hidden" />

   @*  <div class="mb-3">
        <label asp-for="BrandName" class="form-label"></label>
        <input asp-for="BrandName" class="form-control" readonly />
    </div>

    <div class="mb-3">
        <label asp-for="CarName" class="form-label"></label>
        <input asp-for="CarName" class="form-control" readonly />
    </div>

    <div class="mb-3">
        <label asp-for="RentalRate" class="form-label"></label>
        <input asp-for="RentalRate" class="form-control" readonly />
    </div> *@

    <div class="mb-3">
        <label asp-for="PickupDate" class="form-label"></label>
        <input asp-for="PickupDate" type="date" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="PickupTime" class="form-label"></label>
        <input asp-for="PickupTime" type="time" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="ReturnDate" class="form-label"></label>
        <input asp-for="ReturnDate" type="date" class="form-control" />
    </div>

    <div class="mb-3">
        <label asp-for="ReturnTime" class="form-label"></label>
        <input asp-for="ReturnTime" type="time" class="form-control" />
    </div>

    <button type="submit" class="btn btn-success w-100">Submit Request</button>
</form>
