<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewData["Title"] - CarRental</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css" rel="stylesheet">
    <link rel="stylesheet" href="~/css/DashBoard.css" asp-append-version="true" />
</head>
<body>

    <!-- Sidebar -->
    <div class="sidebar">
        <div>
            <h4 class="text-white">Menu</h4>
            <a asp-controller="Admin" asp-action="Dashboard" class="text-white d-block mb-2">Dashboard</a>
            <a asp-controller="Admin" asp-action="ViewOrder">Orders</a>
            <a asp-controller="Admin" asp-action="ViewCars">Cars</a>
            <a asp-controller="Admin" asp-action="ViewUser">Users</a>
            <a href="#">Reports</a>
        </div>

        <div>
            <hr class="text-secondary" />
            <a href="#">New Project</a>
            <a href="#">Profile</a>
            <a href="#" data-bs-toggle="modal" data-bs-target="#signOutModal">Sign Out</a>
        </div>
    </div>

    <div class="modal fade" id="signOutModal" tabindex="-1" aria-labelledby="signOutModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="signOutModalLabel">Confirm Sign Out</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    Are you sure you want to sign out?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                    <a asp-action="SignOut" asp-controller="Customer" class="btn btn-sm btn-danger">Yes, Sign Out</a>
                </div>
            </div>
        </div>
    </div>

    <div class="content">
        @RenderBody()
    </div>
    @RenderSection("Scripts", required: false)
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>

</body>
</html>
